# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
server/.env

# Database
server/*.sqlite
server/tmm_bienestar.sqlite

# Build files
client/dist/
client/build/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Uploads
server/uploads/

# Logs
*.log
npm-debug.log*